div.static {
    position: static;
    border: 3px solid #1919f6;
  }
  div.relative {
    position: relative;
    left: 30px;
    border: 3px solid #1919f6;
  }
  div.fixed {
    position: fixed;
    bottom: 1000;
    right: 500;
    width: 300px;
    border: 3px solid #42f619;
  }
  div.relative {
    position: relative;
    width: 400px;
    height: 200px;
    border: 3px solid #340add;
  }
  
  div.absolute {
    position: absolute;
    top: 80px;
    right: 0;
    width: 200px;
    height: 100px;
    border: 3px solid #2c0ce1;
  }
  div.sticky {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    padding: 5px;
    background-color: #1a1aeb;
    border: 2px solid #2f0bce;
  }
  